*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#Grid{
display: grid;
grid-template-columns: 60px, 1fr, 50px ;
grid-template-rows:10px, 1fr, 10px ;
grid-template-areas: 
"header header nav"
" ads main nav"
"ads footer footer"
;
  grid-gap: 100vh;
  height: 100vw;
  width: 100px;

}
.grid>div{
  background-color: aqua;
}
.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

@keyframes modalshow{

    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;

   }

}
.moda{
  display: none;
  position: fixed;
  height:100vh ;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0;
  animation: modalhow 1s 1 forwards;
  }





.header{
     grid-area: header ;

}



.main{
    grid-area: main ;
    display: grid;
    grid-template-columns: 60px, 1fr, 50px ;
    grid-template-rows:10px, 1fr, 10px ;
    grid-template-areas: 
    "itame1 itame2 itame4 itame4"
    "itame3 itame3 itame4 itame4"
    "itame3 itame3 itame4 itame4"
    "itame5 itame5 itame6 itame6"
    "itame5 itame5 itame6 itame6"
}





.ads{
    grid-area: ads ;
    
}




.nav{
    grid-area: nav ;
    
}


.footer{
    grid-area: footer ;
    
}

.moda1_hide{
  position: absolute;
  top: 12px;
  right: 12px;
  width: 60px;
  height: 60px;
  font-size: 48px;
  text-decoration: none;
color:black;
}










